# [Masud Rahman](masud90.github.io)
This notebook will import data from an online source, perform data cleaning, and produce a clean dataset for further analysis.

## Initialize setup

In [3]:
# Import dependencies
import pandas as pd
import numpy as np

## Load data

In [5]:
# Load the dataset from a URL or a local file
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url, sep='|')

# Display the first few rows of the dataset
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

## Explore the dataset

In [7]:
# Display basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

In [8]:
# Display summary statistics for numerical columns
df.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [9]:
# Check for missing values
df.isnull().sum()

user_id       0
age           0
gender        0
occupation    0
zip_code      0
dtype: int64

## Handle missing values
Note that this dataset does not have any missing values. However, if it did, we could use the following code to handle the missing values.

In [11]:
# Example: Fill missing values with the mean for numerical columns
# df.fillna(df.mean(), inplace=True)

# If we want to drop rows with missing values
# df.dropna(inplace=True)

# Check again for missing values to ensure all are handled
df.isnull().sum()

user_id       0
age           0
gender        0
occupation    0
zip_code      0
dtype: int64

## Handle outliers
Outliers can skew the results of data analysis. We can identify and handle them using statistical methods.

In [13]:
# Identify outliers using the IQR method for a numerical column
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out the outliers
df = df[(df['age'] >= lower_bound) & (df['age'] <= upper_bound)]

# Verify that outliers are handled
df.describe()

          user_id         age
count  942.000000  942.000000
mean   471.990446   34.010616
std    272.509476   12.132894
min      1.000000    7.000000
25%    236.250000   25.000000
50%    471.500000   31.000000
75%    707.750000   43.000000
max    943.000000   70.000000

## Handle inconsistencies
Inconsistent data can occur due to various reasons. We need to standardize categorical data and ensure numerical data is within expected ranges.

In [15]:
# Standardize categorical data
# Suppose we have a column 'gender' with inconsistent values (for example: M or m used interchangeably to denote 'male')
df['gender'] = df['gender'].str.lower()
df['gender'] = df['gender'].replace({'f': 'female', 'm': 'male'})

# Verify the changes
df['gender'].unique()

array(['male', 'female'], dtype=object)

## Document the cleaning process
It’s important to document each step of the data cleaning process.

In [17]:
# Save the cleaned dataset to a new file
df.to_csv('cleaned_customer_data.csv', index=False)

In [18]:
# Document the cleaning process
with open('data_cleaning_log.txt', 'w') as log_file:
    log_file.write("Missing values handled: Filled with mean\n")
    log_file.write(f"Outliers handled: Age column filtered between {lower_bound} and {upper_bound}\n")
    log_file.write("Inconsistencies handled: Standardized 'gender' column\n")